<div style="font-family: calibri">
  <h2 align="center">
  Welcome to Hippo Cafe!
  <br>
  <form action="/receipt" method="post">
    Customer name:
    <input type="text" name="name" required>
    <br>
    Item:
    <input type="text" name="item" required>
    <br>
    Quantity:
    <input type="number" name="quantity">
    <br>
    <input type="submit" value="Add order">
  </form>
  </h2>
</div>
